In [2]:
import numpy as np
import pandas as pd

In [3]:
Fake_news=pd.read_csv("test.csv")
True_news=pd.read_csv("True.csv")

In [4]:
True_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [5]:
Fake_news

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...
...,...,...,...,...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...
5198,25998,300 US Marines To Be Deployed To Russian Borde...,NaN,« Previous - Next » 300 US Marines To Be Deplo...
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...

In [6]:
True_news["label"]=0
Fake_news["label"]=1

In [7]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [8]:
Fake_news

,id,title,author,text,label
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",1
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...,1
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,1
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",1
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,1
...,...,...,...,...,...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...,1
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...,1
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...,1
5198,25998,300 US Marines To Be Deployed To Russian Borde...,NaN,« Previous - Next » 300 US Marines To Be Deplo...,1
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...,1

In [9]:
dataset1=True_news[["text","label"]]
dataset2=Fake_news[["text","label"]]

In [10]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [11]:
dataset=pd.concat([dataset1,dataset2])

In [12]:
dataset

                                                   text  label
0     WASHINGTON (Reuters) - The head of a conservat...      0
1     WASHINGTON (Reuters) - Transgender people will...      0
2     WASHINGTON (Reuters) - The special counsel inv...      0
3     WASHINGTON (Reuters) - Trump campaign adviser ...      0
4     SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                 ...    ...
5195  Of all the dysfunctions that plague the world’...      1
5196  WASHINGTON  —   Gov. John Kasich of Ohio on Tu...      1
5197  Good morning. (Want to get California Today by...      1
5198  « Previous - Next » 300 US Marines To Be Deplo...      1
5199  Perhaps you’ve seen the new TV series whose pi...      1

[26617 rows x 2 columns]

In [13]:
dataset.shape

(26617, 2)

In [14]:
dataset.isnull().sum()

text     7
label    0
dtype: int64

In [15]:
dataset["label"].value_counts()

label
0    21417
1     5200
Name: count, dtype: int64

In [16]:
dataset=dataset.sample(frac=1)

In [17]:
dataset

                                                    text  label
18132  CARACAS (Reuters) - Venezuela s opposition sai...      0
20752  KUALA LUMPUR (Reuters) - Malaysian authorities...      0
745    On Monday, Katie Glueck, senior political corr...      1
12654  DUBAI (Reuters) - British Foreign Secretary Bo...      0
18140  PARIS (Reuters) - European Union countries sho...      0
...                                                  ...    ...
128    WASHINGTON (Reuters) - The Trump administratio...      0
20743  PARIS (Reuters) - French police unearthed a se...      0
16155  Qaryatayn, SYRIA (Reuters) - Twenty six Syrian...      0
15973  ISTANBUL (Reuters) - Prominent Turkish rights ...      0
5302   (Reuters) - Highlights of the day for U.S. Pre...      0

[26617 rows x 2 columns]

# NLP

In [18]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [19]:
ps= WordNetLemmatizer()

In [20]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\maila\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
stopwords=stopwords.words('english')

In [22]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\maila\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [23]:
def clean_row(row):
    row=str(row)
    row=row.lower()
    row=re.sub('[^a-zA-Z]',' ',row)
    token=row.split()
    news=[ps.lemmatize(word) for word in token if not word in stopwords]
    cleanned_news=' '.join(news)
    return cleanned_news

In [24]:
dataset['text']

18132    CARACAS (Reuters) - Venezuela s opposition sai...
20752    KUALA LUMPUR (Reuters) - Malaysian authorities...
745      On Monday, Katie Glueck, senior political corr...
12654    DUBAI (Reuters) - British Foreign Secretary Bo...
18140    PARIS (Reuters) - European Union countries sho...
                               ...
128      WASHINGTON (Reuters) - The Trump administratio...
20743    PARIS (Reuters) - French police unearthed a se...
16155    Qaryatayn, SYRIA (Reuters) - Twenty six Syrian...
15973    ISTANBUL (Reuters) - Prominent Turkish rights ...
5302     (Reuters) - Highlights of the day for U.S. Pre...
Name: text, Length: 26617, dtype: object

In [25]:
dataset['text']=dataset['text'].apply(lambda x :clean_row(x))

In [26]:
dataset['text']

18132    caracas reuters venezuela opposition said frid...
20752    kuala lumpur reuters malaysian authority thwar...
745      monday katie glueck senior political correspon...
12654    dubai reuters british foreign secretary boris ...
18140    paris reuters european union country take adva...
                               ...
128      washington reuters trump administration briefe...
20743    paris reuters french police unearthed second s...
16155    qaryatayn syria reuters twenty six syrian host...
15973    istanbul reuters prominent turkish right activ...
5302     reuters highlight day u president donald trump...
Name: text, Length: 26617, dtype: object

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer(max_features=50000,lowercase=False,ngram_range=(1,2))

In [28]:
x=dataset.iloc[:20000,0]
y=dataset.iloc[:20000,1]

In [29]:
x

18132    caracas reuters venezuela opposition said frid...
20752    kuala lumpur reuters malaysian authority thwar...
745      monday katie glueck senior political correspon...
12654    dubai reuters british foreign secretary boris ...
18140    paris reuters european union country take adva...
                               ...
7819     reuters new hampshire senate race dead heat in...
5078     washington reuters lawyer take control investi...
20876    mombasa kenya reuters suspected militant somal...
10664    washington reuters tennessee governor bill has...
15813    brussels reuters according spanish medium judg...
Name: text, Length: 20000, dtype: object

In [30]:
y

18132    0
20752    0
745      1
12654    0
18140    0
        ..
7819     0
5078     0
20876    0
10664    0
15813    0
Name: label, Length: 20000, dtype: int64

In [31]:
from sklearn.model_selection  import train_test_split
train_data,test_data,train_label,test_label=train_test_split(x,y,test_size=0.2,random_state=0)

In [32]:
vec_train_data=vectorizer.fit_transform(train_data)

In [33]:
vec_train_data.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [34]:
vec_test_data=vectorizer.fit_transform(test_data)

In [35]:
vec_test_data.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [43]:
vec_train_data.shape

(16000, 50000)

In [44]:
vec_test_data.shape

(4000, 50000)

In [45]:
vec_train_data

<16000x50000 sparse matrix of type '<class 'numpy.float64'>'
	with 3697401 stored elements in Compressed Sparse Row format>

In [46]:
print(len(vectorizer.get_feature_names_out()))

50000